
VisionLego/VisionLego/x64/Debug/VisionLego.tlog/CL.command.1.tlog
VisionLego/.vs/VisionLego/v17/.suo
*.db
*.ipch
*.log
*.recipe
*.obj
*.tlog
*.idb
*.pdb
*.ilk
*.lib
*.exe
*.txt
VisionLego/.vs/VisionLego/FileContentIndex/5c06aac6-26d0-4609-9c49-376a98cc9906.vsidx
VisionLego/.vs/VisionLego/FileContentIndex/read.lock
